# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# SSH Keys
*.pem
cpanel_key_backup.txt

# Application Data
generated_pdfs/
uploads/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Database and Binaries
*.db
*.sql
*.pdf
# Keep specific PDFs if needed, but ignoring general PDFs to save memory
