# Neutralized htaccess to test basic connectivity
# This removes all Passenger/Python directives to see if the server serves static files.

RewriteEngine On
RewriteBase /

# If file exists, serve it
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]
