/* PURETEGO CRM - Estilos Gerais */
body {
    padding-top: 56px;
    background-color: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
